In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Analyze the results from the error sampling experiment

## Load the data from the one sampled point experiment and the error sampling experiments

In [3]:
df_1_point = pd.read_csv("/Users/lisa/Documents/Master/sam-lab/results/pos_0100.csv")
df_1_point.head()

,image_id,f_points_class_1,f_points_class_2,f_points_class_3,b_points_class_1,b_points_class_2,b_points_class_3,dice_class_1,dice_class_2,dice_class_3,IOU_class_1,IOU_class_2,IOU_class_3,accuracy_class_1,accuracy_class_2,accuracy_class_3
0,0,1,1,1,0,0,0,0.064,0.267,0.329,0.033,0.154,0.197,0.958,0.942,0.979
1,0,1,1,1,0,0,0,0.859,0.444,0.000,0.753,0.285,0.000,0.991,0.966,0.973
2,0,1,1,1,0,0,0,0.813,0.459,0.000,0.685,0.298,0.000,0.987,0.969,0.973
3,0,1,1,1,0,0,0,0.815,0.473,0.000,0.688,0.310,0.000,0.987,0.970,0.973
4,0,1,1,1,0,0,0,0.783,0.429,0.000,0.644,0.273,0.000,0.984,0.968,0.973

In [5]:
len(df_1_point)

142100

In [7]:
df_error_sampling = pd.read_csv(
    "/Users/lisa/Documents/Master/sam-lab/results/error_sampling_0.csv"
)
df_error_sampling.head()

,image_id,f_points_class_1,f_points_class_2,f_points_class_3,b_points_class_1,b_points_class_2,b_points_class_3,dice_class_1,dice_class_2,dice_class_3,IOU_class_1,IOU_class_2,IOU_class_3,accuracy_class_1,accuracy_class_2,accuracy_class_3
0,0,2,2,2,0,0,0,0.585,0.038,0.008,0.413,0.019,0.004,0.960,0.731,0.973
1,0,2,2,2,0,0,0,0.016,0.262,0.000,0.008,0.151,0.000,0.503,0.943,0.973
2,0,2,2,2,0,0,0,0.129,0.150,0.969,0.069,0.081,0.940,0.632,0.878,0.998
3,0,2,2,2,0,0,0,0.102,0.001,0.906,0.054,0.000,0.827,0.498,0.948,0.995
4,0,2,2,2,0,0,0,0.818,0.278,0.008,0.692,0.161,0.004,0.987,0.965,0.958

In [8]:
len(df_error_sampling)

1989400

## Combine both dataframes by inserting the rows from the one point sampling into the error sampling dataframe

In [9]:
n_images = max(df_1_point["image_id"])
for image_id in range(n_images):
    index_insert = image_id*

2841

In [12]:
n_images = max(df_1_point["image_id"])
len(df_error_sampling) / (50 * 14)

2842.0